.wrapper {
    max-width: 450px;
    background-color: olivedrab;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.card-profile > div {
    margin-bottom: 10px;
}
.card-profile .img-profile {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
